<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        @ViewData["Title"]
    </title>

    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" data-target="#navbarcollapseMain" data-toggle="collapse" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-controller="Home" asp-action="IndexCat" class="navbar-brand mainAppIcon">@ViewData["HeaderTitle"]</a>
            </div>
            <div id="navbarcollapseMain" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (ViewBag.ActiveSubMenu == "Профиль")
                    {
                        <li><a style = "padding-top: 15px; color: white;" asp-controller="AdminProfile" asp-action="EditProfile">Профиль</a></li>
                        <li><a style = "padding-top: 15px;" asp-controller="AdminArticles" asp-action="Articles">Статьи</a></li>
                        <li><a style="padding-top: 15px;" asp-controller="AdminCategories" asp-action="Categories">Категории</a></li>
                        <li><a style="padding-top: 15px;" asp-controller="AdminKW" asp-action="Kws">Ключевики</a></li>
                    }
                    @if (ViewBag.ActiveSubMenu == "Статьи")
                    {
                        <li><a style = "padding-top: 15px;" asp-controller="AdminProfile" asp-action="EditProfile">Профиль</a></li>
                        <li><a style = "padding-top: 15px; color: white;" asp-controller="AdminArticles" asp-action="Articles" >Статьи</a></li>
                        <li><a style="padding-top: 15px;" asp-controller="AdminCategories" asp-action="Categories">Категории</a></li>
                        <li><a style="padding-top: 15px;" asp-controller="AdminKW" asp-action="Kws">Ключевики</a></li>
                    }
                    @if (ViewBag.ActiveSubMenu == "Категории")
                    {
                        <li><a style="padding-top: 15px;" asp-controller="AdminProfile" asp-action="EditProfile">Профиль</a></li>
                        <li><a style="padding-top: 15px;" asp-controller="AdminArticles" asp-action="Articles">Статьи</a></li>
                        <li><a style="padding-top: 15px; color: white;" asp-controller="AdminCategories" asp-action="Categories">Категории</a></li>
                        <li><a style="padding-top: 15px;" asp-controller="AdminKW" asp-action="Kws">Ключевики</a></li>
                    }
                    @if (ViewBag.ActiveSubMenu == "Ключевики")
                    {
                        <li><a style="padding-top: 15px;" asp-controller="AdminProfile" asp-action="EditProfile">Профиль</a></li>
                        <li><a style="padding-top: 15px;" asp-controller="AdminArticles" asp-action="Articles">Статьи</a></li>
                        <li><a style="padding-top: 15px;" asp-controller="AdminCategories" asp-action="Categories">Категории</a></li>
                        <li><a style="padding-top: 15px; color: white;" asp-controller="AdminKW" asp-action="Kws">Ключевики</a></li>
                    }
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy;2016 - @DateTime.Now.Year @ViewData["FooterTitle"]</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
