@model BizMall.ViewModels.AdminCompanyArticles.CreateEditArticleViewModel

<script type="text/javascript">
    //заполнение списка ключевиков для ВЛОЖЕННОЙ категории КОГДА она выбрана для редактируемой статьи
    $(document).ready(function () {
        $(".nestedcat").click(function () {
            //устанавливаем значения выбраной категории в соответсвующее текстовое поле  и ее ид в скрытое
            var parent = $(this).parent().parent().prev().html();
            if (parent == "")
            {
                parent = $(this).parent().parent().prev().prev().html();
            }
            var spanbeg = parent.indexOf('<');
            //вырезаем слово родительской категории и соединяем его с названием дочерней категории
            var tmp = parent.substring(0, spanbeg).trim() + "/" + $(this).html();
            tmp = tmp.trim();

            $("#CurrentCatName").val(tmp);
            $("#CurrentCatId").val($(this).attr('id'));

            //запрашиваем ключевики для выбраной категории
            var categoryId = $("#CurrentCatId").val();
            var formData = new FormData();
            formData.append('CategoryId', categoryId);
            $.ajax({
                url: "/AdminArticles/CategoryKws/",
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (categoryKws) {

                    var strKws = "";
                    categoryKws.forEach(function (item, i, categoryKws) {
                        var kw = item.kw;
                        strKws += kw + ", ";
                    });

                    strKws = strKws.substr(0, strKws.length - 2);

                    $("#categoryKws").html(strKws);
                }
            });            
        });
    });

    //заполнение списка ключевиков для РОДИТЕЛЬСКОЙ категории КОГДА она выбрана для редактируемой статьи
    $(document).ready(function () {
        $(".cat").click(function () {
            //устанавливаем значения выбраной категории в соответсвующее текстовое поле  и ее ид в скрытое
            var tmp = $(this).html();
            tmp = tmp.trim();

            $("#CurrentCatName").val(tmp);
            $("#CurrentCatId").val($(this).attr('id'));

            //запрашиваем ключевики для выбраной категории
            var categoryId = $("#CurrentCatId").val();
            var formData = new FormData();
            formData.append('CategoryId', categoryId);
            $.ajax({
                url: "/AdminArticles/CategoryKws/",
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (categoryKws) {
                    
                    var strKws = "";
                    categoryKws.forEach(function (item, i, categoryKws) {
                        var kw = item.kw;
                        strKws+= kw + ", ";
                    });

                    strKws = strKws.substr(0, strKws.length - 2);
                    
                    $("#categoryKws").html(strKws);
                }
            });
        });
    });

</script>

    <div class="form-group">

        <label class="col-md-2 control-label">Категории</label>

        <div class="col-md-3">
            <div class="btn-group-vertical">
                @foreach (var topcat in ViewBag.Categories)
                {
                    if (topcat.CategoryId == null)
                    {
                        bool IsParent = false;
                        @foreach (var cat in ViewBag.Categories)
                        {
                            @if (cat.CategoryId== topcat.Id)
                            {
                                IsParent = true;
                                break;
                            }
                        }
                        if (IsParent == true)
                        {
                            <div class="btn-group">
                                <button id="btnGroupVerticalDrop" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    @topcat.Title
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="btnGroupVerticalDrop">
                                @foreach (var chcat in ViewBag.Categories)
                                {
                                    @if (chcat.CategoryId == topcat.Id)
                                    {
                                        var title = chcat.Title + "(" + chcat.CategoryType + ")";
                                        <li><a class="nestedcat" role="button" id="@chcat.Id">@title</a></li>
                                    }
                                }
                                </ul>
                            </div>
                        }
                        if (IsParent == false)
                        {
                            var title = topcat.Title + "(" + topcat.CategoryType + ")";
                            <a class="cat btn btn-default " role="button" id="@topcat.Id">@title</a>
                        }
                    }
                }
              </div>
        </div>
       
        @if (Model?.CategoryId != 0)
        {
            <div class="col-md-3">
                <label style="padding-top:20px;">Текущая категория:</label><br />
                <input asp-for="Category" class="form-control" id="CurrentCatName" readonly="readonly" value="@Model.Category"/>
                <input asp-for="CategoryId" type="hidden" class="form-control" id="CurrentCatId" readonly="readonly" value="@Model.CategoryId"/>
                @*<span asp-validation-for="Category" class="text-danger"></span>*@
            </div>
        }
        else
        {
            <div class="col-md-3">
                <label style="padding-top:20px;">Текущая категория:</label><br />
                <input asp-for="Category" class="form-control" id="CurrentCatName" readonly="readonly" />
                <input asp-for="CategoryId" type="hidden" class="form-control" id="CurrentCatId" readonly="readonly" />
                @*<span asp-validation-for="Category" class="text-danger"></span>*@
            </div>
        }

    </div>





