@model ArticleList.Models.CommonModels.SearchArticleModel
@{

    Layout = "_AdminLayout";
}

<div class="row">
    <!--МЕНЮ КАТЕГОРИЙ-->
    <div class="col-md-3">
        @await Component.InvokeAsync("AllCategoriesToFilterEditingKws")
    </div>
    <div class="col-md-9">
        <!--СТРОКА ПОИСКА-->
        <div class="row">
            <div class="col-xs-12 ">
                <form asp-controller="AdminKW" asp-action="Search" method="post" enctype="multipart/form-data" class="form-horizontal" role="form">
                    <div class="input-group" style="margin-top:5px;margin-bottom:5px;">
                        <input asp-for="searchstring" class="form-control" id="searchstring" placeholder="Найти...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">Поиск</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        <br />    
        
        <!--КНОПКА СОЗДАНИЯ ПОЗИЦИИ-->
        
        <div>
            <div style="margin-right:10px;margin-bottom:5px;">
                <a class="btn btn-primary btn-newpos" role="button" asp-controller="AdminKW" asp-action="EditKw">Новый ключевик</a>
            </div>
        </div>

        <!--ВЫВОД СТАТЕЙ-->

        <br />
        <span style="font-size:20px;">Всего ключевиков: @ViewBag.PagingInfo.TotalItems</span>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Ключевик</th>
                        <th>Категория</th>
                        <th>Кол-во статей</th>
                        <th>Опции</th>
                    </tr>
                </thead>
                @foreach (var kw in ViewBag.KWs)
                {
                    <tr>
                        <!--CATEGORY TITLE-->
                        <td>
                            <a asp-controller="AdminKW" asp-action="EditKw" asp-route-id="@kw.Id">@kw.kw</a>
                        </td>
                        <!--CATEGORY TITLE-->
                        @if (kw.Category != null)
                        {
                            @if (kw.Category.ParentCategory != null)
                            {
                                <td>@kw.Category.ParentCategory.Title/@kw.Category.Title</td>
                            }
                            else
                            {
                                 <td>@kw.Category.Title</td>
                            }
                        }
                        else
                        {
                        <td> ДЛЯ САЙТА </td>
                        }
                        <!--ARTICLES COUNT-->
                        @{
                            string idac = kw.Id.ToString() + "articlescount";
                        }
                        <td style="width: 20%;">
                            <div style="text-align:center;">
                                <a class="articlesCount" onclick='KwArticlesCount(@kw.Id);'></a>
                                @*<a class="btn btn-primary articlesCount" role="button" onclick='KwArticlesCount(@kw.Id);'>статей...?</a>*@
                                <span id="@idac" style="margin-left:10px;margin-right:10px;"></span>
                            </div>
                        </td>

                        <!--OPTIONS-->
                        <td style="width: 10%;"><a class="btn btn-primary" role="button" asp-controller="AdminKW" asp-action="DeleteKW" asp-route-itemId="@kw.Id">Удалить</a></td>
                    </tr>
                }
            </table>
        </div>
    
        <!--ПАГИНАЦИЯ-->
        <div class="col-xs-12 ">
            @await Component.InvokeAsync("AdminKwsPagination", new { pi = ViewBag.PagingInfo })
        </div>
    
    </div>
</div>
    <script type="text/javascript">
        function KwArticlesCount(kwid) {
        //отправить запрос на обновление статусов
        var formData = new FormData();
        formData.append('kwid', kwid);
        $.ajax({
            url: "/AdminKW/KwArticlesCount",
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (articlescount) {
                var spanid = kwid + "articlescount";
                $("#"+spanid).html(articlescount);
            }
        });
    }

        //показываем сколько статей 
        $(document).ready(function () {
            $(".articlesCount").click();
        });
</script>

