@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using BizMall.ViewModels.AccountViewModels

@model BizMall.Models.CompanyModels.Category

@{
    ViewData["Title"] = "Новая категория";
    Layout = "_AdminLayout";
}

<script type="text/javascript">

    function checkCategoryType(type) {
        $("#CategoryType").val(type);
        $(".ParentCategories").hide();
        $("#" + type + "ParentCategories").show();
        $("#CurrentCatName").val('');
        $("#CurrentCatId").val('');
    }

    $(document).ready(function () {
        $(".nestedcat").click(function () {
            var parent = $(this).parent().parent().prev().html();
            var spanbeg = parent.indexOf('<');
            //вырезаем слово родительской категории и соединяем его с названием дочерней категории
            var tmp = parent.substring(0, spanbeg).trim() + "/" + $(this).html();
            tmp = tmp.trim();

            $("#CurrentCatName").val(tmp);
            $("#CurrentCatId").val($(this).attr('id'));
            return;
        });
    });

    $(document).ready(function () {
        $(".cat").click(function () {
            $("#CurrentCatName").val($(this).html());
            $("#CurrentCatId").val($(this).attr('id'));
            return;
        });

    });
</script>

<h3>@ViewData["Title"]</h3>
<form asp-controller="AdminCategories" asp-action="EditCategory" method="post" enctype="multipart/form-data" class="form-horizontal" role="form">
    <hr />
    <!--Id добавляемого/редактируемого товара-->
    @if (Model.Id != 0)
    {
        <input asp-for="Id" type="hidden" class="form-control" id="Id" readonly="readonly" Value ="@Model.Id" />
    }
    <!--НАИМЕНОВАНИЕ-->
    <div class="form-group">
        <label asp-for="Title" class="col-md-2 control-label">Тип категории</label>
        <div class="col-md-1">
            <input asp-for="CategoryType" type="hidden" id ="CategoryType" name="CategoryType" Value ="@Model.CategoryType"> 
        </div>
        <div class="col-md-8">
            @if (@Model.CategoryType == BizMall.Models.CompanyModels.CategoryType.News)
            {
                <div>
                    <input type="radio" name="type" onclick="checkCategoryType('News');" value="Новости" checked="checked"> Новости <br /><br />
                    <input type="radio" name="type" onclick="checkCategoryType('Suggestions');" value="Предложения"> Предложения <br /><br />                    
                    <input type="radio" name="type" onclick="checkCategoryType('Articles');" value="Статьи" > Статьи
                </div>
            }
            @if (@Model.CategoryType == BizMall.Models.CompanyModels.CategoryType.Suggestions)
            {
                <div>
                    <input type="radio" name="type" onclick="checkCategoryType('News');"  value="Новости"> Новости <br /><br />
                    <input type="radio" name="type" onclick="checkCategoryType('Suggestions');" value="Предложения" checked="checked" > Предложения <br /><br />
                    <input type="radio" name="type" onclick="checkCategoryType('Articles');" value="Статьи"> Статьи
                </div>
            }
            @if (@Model.CategoryType == BizMall.Models.CompanyModels.CategoryType.Articles)
            {
                <div>
                    <input type="radio" name="type" onclick="checkCategoryType('News');" value="Новости"> Новости <br /><br />
                    <input type="radio" name="type" onclick="checkCategoryType('Suggestions');" value="Предложения"> Предложения <br /><br />
                    <input type="radio" name="type" onclick="checkCategoryType('Articles');" value="Статьи" checked="checked"> Статьи
                </div>
            }
                
        </div>
    </div>

    <!--НАИМЕНОВАНИЕ-->
    <div class="form-group">
        <label asp-for="Title" class="col-md-2 control-label">Название</label>
        <div class="col-md-10" >
            <input asp-for="Title" class="form-control col-md-10" id="Title" placeholder="Наименование"  Value ="@Model.Title"/>
        </div>
    </div>

    <!--КАТЕГОРИИ-->

    @if (@Model.CategoryType == BizMall.Models.CompanyModels.CategoryType.News)
    {
        <div id="NewsParentCategories" class="ParentCategories">@await Component.InvokeAsync("AllParentCategories", new { categoryType = BizMall.Models.CompanyModels.CategoryType.News })</div>
        <div id="SuggestionsParentCategories" class="ParentCategories" style="display:none">@await Component.InvokeAsync("AllParentCategories", new { categoryType = BizMall.Models.CompanyModels.CategoryType.Suggestions })</div>
        <div id="ArticlesParentCategories" class="ParentCategories" style="display:none">@await Component.InvokeAsync("AllParentCategories", new { categoryType = BizMall.Models.CompanyModels.CategoryType.Articles })</div>
    }
    @if (@Model.CategoryType == BizMall.Models.CompanyModels.CategoryType.Suggestions)
    {
        <div id="NewsParentCategories" class="ParentCategories" style="display:none">@await Component.InvokeAsync("AllParentCategories", new { categoryType = BizMall.Models.CompanyModels.CategoryType.News })</div>
        <div id="SuggestionsParentCategories" class="ParentCategories" >@await Component.InvokeAsync("AllParentCategories", new { categoryType = BizMall.Models.CompanyModels.CategoryType.Suggestions })</div>
        <div id="ArticlesParentCategories" class="ParentCategories" style="display:none">@await Component.InvokeAsync("AllParentCategories", new { categoryType = BizMall.Models.CompanyModels.CategoryType.Articles })</div>
    }
    @if (@Model.CategoryType == BizMall.Models.CompanyModels.CategoryType.Articles)
    {
        <div id="NewsParentCategories" class="ParentCategories" style="display:none">@await Component.InvokeAsync("AllParentCategories", new { categoryType = BizMall.Models.CompanyModels.CategoryType.News })</div>
        <div id="SuggestionsParentCategories" class="ParentCategories" style="display:none">@await Component.InvokeAsync("AllParentCategories", new { categoryType = BizMall.Models.CompanyModels.CategoryType.Suggestions })</div>
        <div id="ArticlesParentCategories" class="ParentCategories" >@await Component.InvokeAsync("AllParentCategories", new { categoryType = BizMall.Models.CompanyModels.CategoryType.Articles })</div>
    }
    @*@await Component.InvokeAsync("AllParentCategories", new { cat = Model })*@
     @*@await Component.InvokeAsync("AllParentCategories", new { categoryType = BizMall.Models.CompanyModels.CategoryType.Suggestions})
     @await Component.InvokeAsync("AllParentCategories", new { categoryType = BizMall.Models.CompanyModels.CategoryType.Articles})*@
    
    <div class="form-group">
        <div class="col-md-2">
        </div>

        @if (Model?.ParentCategory != null)
        {
            <div class="col-md-3 ">
                <label style="padding-top:20px;">Текущая родительская категория:</label><br />
                <input class="form-control" id="CurrentCatName" readonly="readonly" value="@Model.ParentCategory.Title" />
                <input asp-for="@Model.ParentCategory.Id" type="hidden" class="form-control" id="CurrentCatId" readonly="readonly" value="@Model.ParentCategory.Id" />
                @*<span asp-validation-for="Category" class="text-danger"></span>*@
            </div>
        }
        else
        {
            <div class="col-md-3 ">
                <label style="padding-top:20px;">Текущая родительская категория:</label><br />
                <input class="form-control" id="CurrentCatName" readonly="readonly" />
                <input asp-for="@Model.ParentCategory.Id" type="hidden" class="form-control" id="CurrentCatId" readonly="readonly" />
                @*<span asp-validation-for="Category" class="text-danger"></span>*@
            </div>
        }
    </div>



    <!--ЛАТ НАИМЕНОВАНИЕ-->
    <div class="form-group">
        <label asp-for="EnTitle" class="col-md-2 control-label">Название(латиница)</label>
        <div class="col-md-10">
            <input asp-for="EnTitle" class="form-control col-md-10" id="EnTitle" placeholder="Наименование(латиница)" Value="@Model.EnTitle" />
        </div>
    </div>
   
    <!--metaKeyWords-->
    <div class="form-group">
        <label asp-for="metaKeyWords" class="col-md-2 control-label">Meta-тег Keywords</label>
        <div class="col-md-10">
            <textarea asp-for="metaKeyWords" class="form-control" id="metaKeyWords" style="resize: vertical;" placeholder="metaKeyWords" Value="@Model.metaKeyWords"></textarea>
        </div>
    </div>

    <!--metaDescription-->
    <div class="form-group">
        <label asp-for="metaDescription" class="col-md-2 control-label">Meta-тег Description</label>
        <div class="col-md-10">
            <textarea asp-for="metaDescription" class="form-control" id="metaDescription" style="resize: vertical;" placeholder="metaDescription" Value="@Model.metaDescription"></textarea>
        </div>
    </div>

    <!--СООБЩЕНИЯ ВАЛИДАЦИИ-->
    <div class="form-group">
        <label class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
    </div>  

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10 text-right">
            <button type="submit" class="btn btn-primary  col-md-2" style="margin-top: 5px;">Сохранить</button>
            <a asp-controller="AdminCategories" asp-action="Categories" class='btn btn-default col-md-2 ' style="margin-left: 5px; margin-top: 5px;">Назад</a>
        </div>
    </div>
</form>



@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

